<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">

    <title>Uplaod Image</title>
</head>

<body>
    <div>
        <nav class="navbar text-capitalize text-center">
            <a class="navbar-brand" href="/">Image restoration and enhancement</a>
        </nav>

        <div class="container">

            {% if filename %}
            <div class="row mt-2 btn-row">
                    <button class="btn btn-small try-again-btn m-1"
                    onclick="window.history.back()">Try Again</button>
                    <a href="{{ url_for('static', filename='uploads/out_'+filename) }}" 
                    class="btn btn-small btn-success m-1" download>Download</a>
                
            </div>
            <div class="row justify-content-center align-items-center mt-2">
                <div class="col-12 col-md-6">
                    <h4 >Your Image</h4>
                    <img src="{{ url_for('send_file', filename=filename) }}" class="img-fluid "/>
                     
                </div>
                <div class="col-12 col-md-6">
                    <h4 class="text-capitalize">{{pathname}} output</h4>

                    <img src="{{ url_for('static', filename='uploads/out_'+filename) }}" 
                    
                    class="img-fluid " id="output_img"/> 
                    
                </div>
            </div>
            {% elif pathname == 'inpaint' %}
            <h5 class="mt-5">You are about to upload photos for
                {% if pathname %}<em><b>{{pathname}}</b></em>{% endif %}. Your photos will be securely stored and kept
                private.</h5>

            <form method="POST" action="" enctype="multipart/form-data" class="upload-inpaint-photo">

                <div class="upload" id="inpaint-uplaod">
                    <input type="file" name="file" class="" 
                    onchange="loadFile(event)"
                    accept=".png,.jpeg,.jpg" />
                    <input type="hidden" id="payload" name="payload" value="x">
                    <!-- <input type="submit" class="btn btn-small" value="Apply Model" /> -->
                </div>


                <div class="row align-items-center justify-content-center" id="inpaint-mask" style="visibility: hidden;">

                    <div>
                        <h5 class="mt-5" id="mask-title">Draw mask here</h5>
                        <canvas id="canvas"
                        style="border:4px solid; border-radius: 5px; 
                        ">
                        </canvas>
                        <div class="row">
                            <input type="button" value="clear" class="btn btn-small" id="clear"/>
                            <input type="button" class="btn btn-small " id="try" value="Try Again" />
                            <input type="submit" class="btn btn-small apply-btn" value="Apply Model" />
                        </div>
                    </div>
                </div>    

            </form>

                <!-- hidden -->
                <div class="col-12 col-md-6 mr-5" style="visibility: hidden;">
                    <h5 class="mt-5">Your Original Image</h5>
                    <img id="uploaded_img" />
                    
                    <canvas id="hidden-canvas"
                    style="border:4px solid; border-radius: 5px; 
                    ">
                    </canvas>
                </div>
                <!--  -->
            </div>
            {% else %}
                <h5 class="mt-5">You are about to upload photos for
                    {% if pathname %}<em><b>{{pathname}}</b></em>{% endif %}. Your photos will be securely stored and kept
                    private.</h5>

                <form method="POST" action="" enctype="multipart/form-data" class="upload-photo">

                    <div class="upload">
                        <input type="file" name="file" class="file" 
                        accept=".png,.jpeg,.jpg" />
                        <input type="submit" class="btn btn-small apply-btn" value="Apply Model" />
                    </div>

                </form>
            {% endif %}

        </div>
    </div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <script type="text/javascript">
        
      </script>
    
</body>

</html>
